h1 {
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #9baaf0;
}

body {
    background: red;
    animation-name: moja_animacja;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    font-family:sans-serif;
 }

 @keyframes moja_animacja {
    0% {background: red;}
    10% {background: rgb(255, 81, 0);}
    20% {background: rgb(255, 251, 0);}   
    30% {background: rgb(136, 255, 0);}   
    40% {background: rgb(43, 255, 0);}   
    50% {background: rgb(0, 255, 128);}   
    60% {background: rgb(0, 255, 255);}   
    70% {background: rgb(0, 89, 255);}   
    80% {background: rgb(47, 0, 255);}   
    90% {background: rgb(225, 0, 255);}
    100% {background: rgb(255, 0, 85);}       
 }

table {
  border-collapse: collapse;
}
th {
  background-color: blue;
  color: white;
}
table {
  width: 50%;
}

th {
  height: 70px;
} 

tr:hover {background-color: white;
}

 /*menu tworzone na praktykach*/
 ol {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:18px;
    height:2em;
    line-height:2em;
    text-align:center;
  }


      ol > li {
        float:left;
        background-color:#032ff3;
        width:150px;
        margin-left:1px;
        height:2em;
      }

      ol a {
        display:block;
        text-decoration:none;
        color:#000;
        padding:0 5px;
      }

      ol > li > a:hover {
        color:#09C;
      }
      
      ol > li:hover {
        background-color:#EEE;
      }

      ol > li:first-child {
        margin-left:0;
      }

      ol > li > ul {
        list-style-type:none;
        padding:0;
        margin:0;
        display: none;
      }

      ol > li > ul > li > a {
        border-top:1px solid #FFF;
      }

      ol > li > ul > li {
        background-color:#EEE;
        position:relative;
      }
      
      ol > li > ul > li:hover {
        background-color:rgb(255, 255, 255);
      }
      
      ol > li > ul > li:hover a {
        color:#09C;
      }

      ol > li:hover > ul {
        display:block;
      }

      ol > li:hover > a {
        color:#09C;
      }
