h1 {
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #9baaf0;
}

a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #032ff3;
}
body {
  background-color: lightblue;
}

table {
  border-collapse: collapse;
}
th {
  background-color: blue;
  color: white;
}
table {
  width: 50%;
}

th {
  height: 70px;
} 

tr:hover {background-color: white;
}
