body {
    font-family: sans-serif;
    background-color: #31d6a5;
    animation: tlo 10s infinite;
}

@keyframes tlo {
    0% {
        background-color: #b0d0ff;
    }
    12.5% {
        background-color: #c5b0ff;
    }
    25% {
        background-color: #bd8af8;
    }
    37.5% {
        background-color: #ffb0d1;
    }
    50% {
        background-color: #ff98f6;
    }
    62.5% {
        background-color: #ffddb0;
    }
    75% {
        background-color: #e7ffb0;
    }
    87.5% {
        background-color: #b0ffd4;
    }
    100% {
        background-color: #b0d9ff;
    }
}

h1 {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #9baaf0;
}

a  {   
    display: block;
    background-color: rgb(6, 22, 247);
    color: rgb(255, 255, 255);
    margin: 2px;
    border-radius: 4em;
    padding: 1em;
    text-decoration: none;
    transition-duration: 1ms;
    width: 5em;
}

.zdjecie {
left: 150px;
top: 250px;
position: absolute;
}
